* {
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.09rem;
}

:root {
    --blue: #050037;
    --white: #fbfbfb;
    --btn: #2e42ff;
    --lighter: #beebfc;
}

section {
    padding: 2% 5%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item {
    color: var(--white);
    margin: 0 10px;
}
.nav_icon {
    color: var(--lighter);
    margin-right: 10px;
}
.hero {
    width: 100%;
    background-color: var(--blue);
    color: white;
}
.hero_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    line-height: 84px;
}
.hero_content p {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
}
.hero_img {
   display: flex;
   justify-content: center;
}
.btn {
    background: var(--btn);
    color: var(--white);
    padding: 15px 25px;
    border-radius: 10px;
}